.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.box___60Vu2 {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 64px 32px;
}
.box___60Vu2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box___60Vu2 > :global(.__wab_flex-container) > *,
.box___60Vu2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___60Vu2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___60Vu2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___60Vu2 > :global(.__wab_flex-container) > *,
  .box___60Vu2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.box__o0Id0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__o0Id0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__o0Id0 > :global(.__wab_flex-container) > *,
.box__o0Id0 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box__fy1OZ {
  position: relative;
  font-weight: 700;
}
.box__ksp2Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.link___8S59Z {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___8S59Z:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link___1F7VP {
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___1F7VP:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__dWxbr {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__dWxbr:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__ytg3M {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__ytg3M:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.box__yJMtF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__yJMtF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__yJMtF > :global(.__wab_flex-container) > *,
.box__yJMtF > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box__omwSb {
  position: relative;
  font-weight: 700;
}
.box___7SHxw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.link___0NHrE {
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___0NHrE:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__l0IzI {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__l0IzI:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__hPeRs {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__hPeRs:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__uLkBy {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link__uLkBy:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__trIc6 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__trIc6:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.box__h0Ecn {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__h0Ecn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__h0Ecn > :global(.__wab_flex-container) > *,
.box__h0Ecn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box__ih0Q9 {
  position: relative;
  font-weight: 700;
}
.box__ptFtY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.link___007Je {
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___007Je:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__jyU0I {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__jyU0I:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link___3LkQ {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___3LkQ:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__wz6U {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__wz6U:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.link__dxZ32 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__dxZ32:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  padding-left: 10px;
}
.box__dMxth {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__dMxth > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__dMxth > :global(.__wab_flex-container) > *,
.box__dMxth > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box__zc7Rq {
  position: relative;
  font-weight: 700;
}
.box__wPrA2 {
  position: relative;
}
.box__u2Ahw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 2px 4px 4px 2px rgb(160, 158, 156)
    /* plasmic-token: ngywOwKoXAfhjP */;
  transition-property: all;
  transition-duration: 0.5s;
  min-width: 0;
  border-radius: 5px;
}
.root .box__u2Ahw:hover {
  box-shadow: 4px 4px 4px 4px rgb(160, 158, 156)
    /* plasmic-token: ngywOwKoXAfhjP */;
}
.textbox {
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  padding: 5px;
  border-width: 0px;
}
.iconLink__z2Bj9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hqz5X {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  width: 18px;
  height: 18px;
}
.box__gfZs3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px;
  background: rgb(234, 234, 234);
}
.box__ai50L {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ai50L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__ai50L > :global(.__wab_flex-container) > *,
.box__ai50L > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__sq2WB:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__joDs7 {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: sicMLczAxfimcc */;
  width: 18px;
  height: 18px;
}
.root .svg__joDs7:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
}
.iconLink__rtZvm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bI6F {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: sicMLczAxfimcc */;
  width: 18px;
  height: 18px;
}
.root .svg__bI6F:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
}
.iconLink__ymRyD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hspSp {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: sicMLczAxfimcc */;
  width: 18px;
  height: 18px;
}
.root .svg__hspSp:hover {
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
}
.box__mjkEt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mjkEt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mjkEt > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mjkEt > :global(.__wab_flex-container) > *,
  .box__mjkEt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.box___7Faz {
  position: relative;
}
.link__g5G3W {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: WgsR9mxopu_qni */;
}
.root .link__g5G3W:hover {
  text-decoration-line: underline;
}
.link__cOnan {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: WgsR9mxopu_qni */;
}
.root .link__cOnan:hover {
  text-decoration-line: underline;
}
