.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
}
.box__cTqEa {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
.box__ugRwI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}
.box__ugRwI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__ugRwI > :global(.__wab_flex-container) > *,
.box__ugRwI > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
.box__vSGmk {
  position: relative;
  font-size: 28px;
  color: rgb(153, 141, 128) /* plasmic-token: c1-J4oyRLXOZNX */;
}
.box__d1BYa {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: WgsR9mxopu_qni */;
  font-size: 40px;
}
.box__gb2J2 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
}
.box__iEsD0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.box__zEkY {
  display: flex;
  position: relative;
  height: 1px;
  flex-direction: row;
  width: 32px;
  flex-shrink: 0;
  border: 1px solid rgb(97, 96, 96) /* plasmic-token: WgsR9mxopu_qni */;
}
.box__gh5NS {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: WgsR9mxopu_qni */;
}
.box__sWfOh {
  position: relative;
  color: rgb(188, 183, 178) /* plasmic-token: -oDbjzFx2jzZC4 */;
  text-decoration-line: line-through;
}
.box__hCBpx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__hCBpx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__hCBpx > :global(.__wab_flex-container) > *,
.box__hCBpx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.linkButton__dTtyv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__fVj1C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__e3B9Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  min-height: 0;
}
.img {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.box__enItr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__enItr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__enItr > :global(.__wab_flex-container) > *,
.box__enItr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.svg__ahEqD {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__vgcde {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__o2U5J {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: 0tmdxT7sD_qiXK */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
