.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.box {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box > :global(.__wab_flex-container) > *,
.box > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
.svg__uK132 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: 5lpkUWqXmV2uvx */;
  flex-shrink: 0;
}
.svg__hqn3Z {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: 5lpkUWqXmV2uvx */;
  flex-shrink: 0;
}
.svg__bjJJh {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: 5lpkUWqXmV2uvx */;
  flex-shrink: 0;
}
.svg__ufWe {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: 5lpkUWqXmV2uvx */;
  flex-shrink: 0;
}
.svg__aLpz {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(239, 206, 74) /* plasmic-token: 5lpkUWqXmV2uvx */;
  flex-shrink: 0;
}
.svg__jYsvq {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: eHiL5blDktt5DK */;
  flex-shrink: 0;
}
.svg__rvUt5 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: eHiL5blDktt5DK */;
  flex-shrink: 0;
}
.svg___7Og4T {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: eHiL5blDktt5DK */;
  flex-shrink: 0;
}
.svg__ffwxl {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: eHiL5blDktt5DK */;
  flex-shrink: 0;
}
.svg__ac472 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: rgb(169, 169, 169) /* plasmic-token: eHiL5blDktt5DK */;
  flex-shrink: 0;
}
.slotNumReviews {
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: ngywOwKoXAfhjP */;
}
