.root {
  display: flex;
  width: 100%;
  height: 412px;
  position: relative;
  flex-direction: column;
  max-width: 260px;
  overflow: hidden;
  min-width: 0;
  background: rgb(255, 255, 255);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.box__pdgw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  min-width: 0;
  flex-shrink: 0;
  background: rgb(234, 234, 234);
}
.box__h6PHh {
  display: flex;
  position: absolute;
  left: auto;
  top: 20px;
  right: 0px;
  height: 30px;
  width: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: rgb(233, 156, 46);
}
.box__i61Pb {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: NohL9SSMjga5zK */;
}
.box__rteHo {
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 0px;
  top: auto;
  width: 100%;
  bottom: 0px;
  height: 35px;
  min-width: 0;
  padding: 10px;
  background: rgb(50, 52, 54);
}
.box__rteHo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__rteHo > :global(.__wab_flex-container) > *,
.box__rteHo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.svg__uvAaL {
  position: relative;
  object-fit: cover;
  color: rgb(255, 255, 255) /* plasmic-token: NohL9SSMjga5zK */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.box__kYfjo {
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255) /* plasmic-token: NohL9SSMjga5zK */;
  min-width: 0;
}
.svg__qNa2D {
  position: relative;
  object-fit: cover;
  color: rgb(255, 255, 255) /* plasmic-token: NohL9SSMjga5zK */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__rOxOg {
  position: relative;
  object-fit: cover;
  color: rgb(255, 255, 255) /* plasmic-token: NohL9SSMjga5zK */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.box__hiOww {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__hiOww > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.box__hiOww > :global(.__wab_flex-container) > *,
.box__hiOww > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 10px;
}
.slotTitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: rgb(97, 96, 96) /* plasmic-token: WgsR9mxopu_qni */;
}
.slotPrice {
  color: rgb(97, 96, 96) /* plasmic-token: WgsR9mxopu_qni */;
  text-align: center;
  font-size: 18px;
}
